<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Code By CFH - Homepage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="main-container">
            <div class="title-container">
                <h1>CODE BY Chris F Hutchinson</h1>
            </div>

            <div class="homepg-nav-row">
                <a href="{{ url_for('projects_page') }}" class="nav-btn">Projects</a>
                <a href="{{ url_for('journey_page') }}" class="nav-btn">My Journey</a>
                <a onclick="window.open('https://github.com/Christo-Hutch', '_blank');" class="nav-btn">GitHub</a>
                <a href="{{ url_for('contact_page') }}" class="nav-btn">Contact Info</a>
            </div>
        </div>
        <i class="fa fa-github" style="position: fixed; bottom: 10px; left: 10px; font-size: 32px; cursor: pointer;" onclick="window.open('https://github.com/Christo-Hutch/web-portfolio', '_blank');"></i>
    </body>
</html>