<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Code By CFH - My Journey</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
      <div class="journey-main-container">
        {% for date, paragraphs in journey.items() %}
            <h2>{{ date }}</h2>
            {% for para in paragraphs %}
                <p>{{ para }}</p>
            {% endfor %}
            <br>
            <br>
        {% endfor %}

        <div class="nav-row">
            <a href="{{ url_for('projects_page') }}" class="nav-btn">Projects</a>
            <a onclick="window.open('https://github.com/Christo-Hutch', '_blank');" class="nav-btn">GitHub</a>
            <a href="{{ url_for('contact_page') }}" class="nav-btn">Contact Info</a>
            <a href="{{ url_for('homepage') }}" class="nav-btn">Homepage</a>
        </div>
      </div>
    </body>
</html>
