<!DOCTYPE html>
<html>
    <head>
        <title>Code By CFH - Projects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="projects-main-container">
            <div class="projects-grid">
                {% for project in projects %}
                <div class="project-card">
                    <h1>{{ project.name }}</h1>
                    <p>
                        <b>Type:</b> {{ project.type }}<br>
                        <b>Language:</b> {{ project.language }}<br>
                        <b>Start Date:</b> {{ project.start_date }}<br>
                        <b>Completion Date:</b> {{ project.completion_date }}<br>
                        <b>Description:</b> {{ project.description }}
                    </p>
                </div>
                {% endfor %}
            </div>
            <div class="nav-row">
                <a href="{{ url_for('journey_page') }}" class="nav-btn">My Journey</a>
                <a onclick="window.open('https://github.com/Christo-Hutch', '_blank');" class="nav-btn">GitHub</a>
                <a href="{{ url_for('contact_page') }}" class="nav-btn">Contact Info</a>
                <a href="{{ url_for('homepage') }}" class="nav-btn">Homepage</a>
            </div>
        </div>
    </body>
</html>
